<table class="last-values-table" style="width: 100%; margin-top: 15px;">

  <tr>
    <td class="caption-font-small">Farm Price</td>
    <td class="caption-font-small">TVL</td>
    <td class="caption-font-small">Gas</td>
  </tr>

  <tr>
    <td class="caption-font">{{lastPriceF}}</td>
    <td class="caption-font" (click)="openTvlDialog()">{{allTvlF | number: '1.0-1'}}</td>
    <td class="caption-font">{{lastGasF}}</td>
  </tr>
</table>

<!--<table style="width: 100%; margin-top: 15px;">-->
<!--  <tr>-->
<!--    <td><app-tvl-box [tvlName]="'UNI_ETH_DAI'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'UNI_ETH_USDC'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'UNI_ETH_USDT'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'UNI_ETH_WBTC'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'WETH'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'USDC'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'USDT'"></app-tvl-box></td>-->
<!--  </tr>-->

<!--  <tr>-->
<!--    <td><app-tvl-box [tvlName]="'DAI'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'WBTC'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'RENBTC'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'CRVRENWBTC'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'SUSHI_WBTC_TBTC'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'YCRV'"></app-tvl-box></td>-->
<!--    <td><app-tvl-box [tvlName]="'3CRV'"></app-tvl-box></td>-->
<!--  </tr>-->

<!--&lt;!&ndash;  <tr>&ndash;&gt;-->
<!--&lt;!&ndash;   &ndash;&gt;-->
<!--&lt;!&ndash;    <td></td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td></td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td></td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td></td>&ndash;&gt;-->
<!--&lt;!&ndash;  </tr>&ndash;&gt;-->
<!--</table>-->
