<table style="width: 100%; height: 100%;">
  <tr>
    <td style="width: 50%;">
      <app-uni-tx></app-uni-tx>
    </td>
    <td style="width: 50%;">

      <table style="width: 100%; margin-top: 5px">

        <tr>
          <td class="caption-font-small">Gas</td>
          <td class="caption-font-small">Farm Price</td>
        </tr>
        <tr>
          <td class="caption-font">{{lastGas}}</td>
          <td class="caption-font">{{lastPrice}}</td>
        </tr>

        <tr>
          <td colspan="2">
            <div style="height: 700px">
              <app-price-chart></app-price-chart>
            </div>
          </td>
        </tr>

      </table>

    </td>
  </tr>

  <tr>
    <td colspan="2">
      <div class="flex-container">
    <span>
      <a href="https://github.com/belbix/egv-backend" style="color: white; margin-right: 10px">Github Repository</a>
      Creator <a href="https://t.me/belbix" style="color: white">belbix</a>
    </span>
      </div>
    </td>
  </tr>
</table>
