<table style="width: 100%; height: 100%">
  <tr style="height: 10px">
    <td style="width: 50%;">
      <div class="flex-container">
        <span>Fingerlings</span>
      </div>
    </td>
    <td style="width: 50%;">
      <div class="flex-container">
        <span>Whales</span>
      </div>
    </td>
  </tr>
  <tr>
    <td style="width: 50%;">

      <app-flow-tab [transactions]="transactions"></app-flow-tab>
    </td>
    <td style="width: 50%;">
      <app-flow-tab [transactions]="transactionsBig"></app-flow-tab>
    </td>
  </tr>
</table>
