/* You can add global styles to this file, and also import other style files */

body {
  background-color: #2F2C2C;
  min-height: 100% !important;
}

html, body {
  height: 100% !important;
}

.footer {
  width: 100%;
  justify-content: center;
  align-items: center;
  /*position: absolute;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*!*height: 100%;*!*/
  /*margin: 0 auto;*/
  /*margin-bottom: 0;*/
  /*text-align:center;*/
  /*!*display: flex;*!*/
}

span {
  color: #ffffff;
  /*align-self: flex-end;*/
}

.flex-container{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


div.inline { float:left; }
.clearBoth { clear:both; }

.caption {
  /*float:left;*/
  /*width: 50%;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

.caption-font {
  color: #ffffff;
  font-size: 7em;
  height: 100px;
}

.caption-font-small {
  color: #ffffff;
  font-size: 2em;
}

td, tr, table {
  /*padding: 0;*/
  /*margin: 0;*/
}

td {
  /*vertical-align : middle;*/
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

.scroller {
  white-space: pre-line;
  height: 1200px;
  overflow-y: hidden;
  position: relative;
}
