<perfect-scrollbar style="max-height: 800px; overflow-y:auto; margin: 10px;">
  <div class="flex-container">
    <table>
      <tr *ngFor="let tx of transactions" style="width: 100% !important;">
        <td style="width: 100%">
          <table>
            <tr
              [ngStyle]="{'color': tx.confirmed ?
              tx.type === 'BUY' ? '#83b78c':
              tx.type === 'SELL' ? '#c15b5b':
              tx.type === 'add_liq' ? '#83b78c':
              tx.type === 'remove_liq' ? '#c15b5b':
              '#ffffff'
              : '#474646'}">
              <td>{{tx.acquired | date: 'hh:mm:ss'}}</td>

              <td>
                <container-element [ngSwitch]="tx.type">
                  <mat-icon *ngSwitchCase="'BUY'" aria-hidden="false" aria-label="BUY" [ngStyle]="{'color': '#3bbf31'}">trending_up</mat-icon>
                  <mat-icon *ngSwitchCase="'SELL'" aria-hidden="false" aria-label="SELL" [ngStyle]="{'color': '#c62222'}">trending_down</mat-icon>
                  <mat-icon *ngSwitchCase="'add_liq'" aria-hidden="false" aria-label="ADD_LIQ" [ngStyle]="{'color': '#3bbf31'}">import_export</mat-icon>
                  <mat-icon *ngSwitchCase="'remove_liq'" aria-hidden="false" aria-label="ADD_LIQ" [ngStyle]="{'color': '#c62222'}">import_export</mat-icon>
                  <mat-icon *ngSwitchDefault aria-hidden="false" aria-label="ADD_LIQ" [ngStyle]="{'color': '#3b71c1'}">help</mat-icon>
                </container-element>
              </td>

              <td>{{tx.amount}}</td>
              <td>{{tx.coin}}</td>
              <td>for {{tx.otherAmount}}</td>
              <td>{{tx.otherCoin}}</td>
              <td><a target="_blank" href="https://etherscan.io/tx/{{tx.hash}}" style="color: antiquewhite">tx</a></td>
              <td></td>
              <td></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</perfect-scrollbar>
