<perfect-scrollbar class="scroller" [ngStyle]="{'maxHeight': maxHeight+'px'}">

  <table class="flow-tab-table">

    <tr class="flow-tab-tr" *ngFor="let tx of dtos | uniswapFilter:minAmount">
      <a target="_blank" href="https://etherscan.io/tx/{{tx.hash}}"
         style="text-decoration:none; font-size: 1.1em"
         [ngStyle]="{'color': priceGradient(tx.type, tx.amount, tx.confirmed)}">
        <td class="flow-tab-td">
          <p style="font-size: 0.9em">{{tx.blockDateAdopted | date: 'HH:mm:ss'}}</p>
        </td>

        <td class="flow-tab-td">
          <container-element [ngSwitch]="tx.type">
            <mat-icon *ngSwitchCase="'BUY'" aria-hidden="false" aria-label="BUY"
                      [ngStyle]="{'color': priceGradient(tx.type, tx.amount, tx.confirmed)}">trending_up
            </mat-icon>
            <mat-icon *ngSwitchCase="'SELL'" aria-hidden="false" aria-label="SELL"
                      [ngStyle]="{'color': priceGradient(tx.type, tx.amount, tx.confirmed)}">trending_down
            </mat-icon>
            <mat-icon *ngSwitchCase="'ADD'" aria-hidden="false" aria-label="ADD_LIQ"
                      [ngStyle]="{'color': priceGradient(tx.type, tx.amount, tx.confirmed)}">import_export
            </mat-icon>
            <mat-icon *ngSwitchCase="'REM'" aria-hidden="false" aria-label="ADD_LIQ"
                      [ngStyle]="{'color': priceGradient(tx.type, tx.amount, tx.confirmed)}">import_export
            </mat-icon>
            <mat-icon *ngSwitchDefault aria-hidden="false" aria-label="?"
                      [ngStyle]="{'color': priceGradient(tx.type, tx.amount, tx.confirmed)}">help
            </mat-icon>
          </container-element>
        </td>

        <td class="flow-tab-td" style="min-width: 100px"><b style="font-size: 1.2em">{{tx.amount | number: '1.0-0'}}</b>
          <text style="font-size: 0.7em"> {{tx.coin}}</text>
        </td>
        <td class="flow-tab-td" style="min-width: 100px"><b style="font-size: 1.2em">{{tx.otherAmount | number: '1.0-0'}}</b>
          <text style="font-size: 0.7em"> {{tx.otherCoin}}</text>
        </td>
        <!-- https://raw.githubusercontent.com/saqy/angular-packages/master/projects/angular-emojis/src/lib/emoji.json -->
        <td class="flow-tab-td" style="">
          <container-element [ngSwitch]="checkImportantOwner(tx.owner)">
            <mat-icon *ngSwitchCase="'normal'" aria-hidden="false" aria-label="Price" [ngStyle]="{'color': '#514f4f'}">
              forward
            </mat-icon>
            <mat-icon *ngSwitchCase="'devs'" aria-hidden="false" aria-label="Price" [ngStyle]="{'color': '#c4ad58'}">
              warning
            </mat-icon>
            <angular-emojis *ngSwitchCase="'doHardWork'" [name]="'tractor'" size="20" style="margin-bottom: 10px;"></angular-emojis>
          </container-element>
        </td>

        <td class="flow-tab-td" style="min-width: 60px; vertical-align:middle;">
          <container-element [ngSwitch]="tx.confirmed">
            <mat-icon *ngSwitchCase="false" aria-hidden="false" aria-label="Not valid" [ngStyle]="{'color': '#514f4f'}">
              highlight_off
            </mat-icon>
            <b *ngSwitchCase="true" style="font-size: 0.9em; vertical-align:middle;">{{tx.lastPrice}}</b>
          </container-element>

        </td>
      </a>
    </tr>

  </table>

</perfect-scrollbar>
